/* Colors */
/* Typography and Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Sizes */
.btn, .btn__icon, .header, .services__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #282725;
}

li {
  list-style: none;
}

input {
  background-color: transparent;
  border: 0;
}

button {
  border: 0;
  background-color: transparent;
}

button:focus,
input:focus {
  outline: 0;
}

.svg {
  fill: #fbc212;
  max-width: 47rem;
  width: 38vw;
}

/* Media queries */
/* Buttons */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.4rem 2rem;
  border-radius: 99rem;
  background-color: #fbc212;
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  .btn {
    font-size: 1.5rem;
    padding: 1.2rem 2.4rem;
  }
}

.btn__icon {
  margin-right: 0.7rem;
}

/* Layout */
.container {
  max-width: 96.8rem;
  margin: auto;
  width: 90%;
}

.section {
  padding: 9rem 0;
}

@media screen and (max-width: 650px) {
  .section {
    padding: 5rem 0;
  }
}

.section__title {
  color: #282725;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 960px) {
  .section__title {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .section__title:not(.home__title) {
    text-align: center;
  }
}

.section__paragraphe {
  font-size: 1.6rem;
  color: #5d5b56;
  font-weight: 400;
  max-width: 40.2rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 960px) {
  .section__paragraphe {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .section__paragraphe {
    max-width: none;
  }
  .section__paragraphe:not(.home__txt) {
    text-align: center;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

@media screen and (max-width: 650px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7.2rem;
  font-size: 1.6rem;
  color: #282725;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 9999;
  padding: 0 2rem;
}

.header--active {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media screen and (max-width: 960px) {
  .header__btn {
    display: none;
  }
}

.header__btn--menu {
  display: none;
  font-size: 2.1rem;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .header__btn--menu {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    display: none;
    position: fixed;
    top: 9.2rem;
    right: 5%;
    left: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 2rem;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.nav--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links:not(:last-child) {
  margin-right: 2.5rem;
}

@media screen and (max-width: 650px) {
  .nav__links:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .nav__links {
    padding: 1rem 0;
  }
}

/* Section home */
.home h1 {
  font-size: 4.8rem;
  line-height: 7.2rem;
}

@media screen and (max-width: 960px) {
  .home h1 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}

.home p {
  padding-right: 7.6rem;
}

.home__img {
  width: 50vw;
  max-width: 47rem;
  min-width: 30rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 650px) {
  .home__img {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

/* Section about */
.about__img {
  fill: #fdebb3;
}

@media screen and (max-width: 650px) {
  .about__img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.about__data {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 650px) {
  .about__data {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 650px) {
  .about p {
    margin-bottom: 0;
  }
}

/* Section security */
.security__data {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.security__img {
  fill: #fdebb3;
}

@media screen and (max-width: 650px) {
  .security__img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/* Section services */
.services h2 {
  text-align: center;
}

.services__container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
}

@media screen and (max-width: 960px) {
  .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .services__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.services__data {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.5rem 2.5rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
}

.services__img {
  width: 13.5rem;
}

.services__img--light {
  fill: #fdebb3;
}

.services h3 {
  font-size: 1.9rem;
}

.services p {
  margin: 2rem 0;
  text-align: center;
}

.services__btn {
  font-size: 1.6rem;
  color: #282725;
  font-weight: 600;
}

/* Section app */
.app__data {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 650px) {
  .app__buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.app__buttons a:nth-child(1) {
  margin-right: 1rem;
}

@media screen and (max-width: 650px) {
  .app__buttons a:nth-child(1) {
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .app__buttons a {
    margin: 1rem 0;
  }
}

.app__img {
  fill: #fdebb3;
}

@media screen and (max-width: 650px) {
  .app__img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

/* Section contact */
.contact__container {
  -ms-grid-columns: 3fr 1.5fr 1.25fr;
      grid-template-columns: 3fr 1.5fr 1.25fr;
}

@media screen and (max-width: 960px) {
  .contact__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .contact__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact__data {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact__data p {
  margin-bottom: 0;
}

.contact__contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.4rem;
  color: #5d5b56;
}

.contact__contact span {
  font-weight: 600;
}

.contact__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Footer */
.footer {
  background-color: #fde59a;
  position: relative;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 960px) {
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer__title {
  color: #282725;
  font-size: 2em;
  margin-bottom: 1rem;
}

.footer__description, .footer__links li {
  color: #5d5b56;
  font-size: 1.4rem;
  margin: 1rem 0;
  cursor: pointer;
}

.footer__credit {
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #5d5b56;
  font-size: 1.4rem;
}

.footer__credit a:hover {
  color: #fbc212;
}
/*# sourceMappingURL=index.css.map */