/* Section app */
.app {
  &__data {
    justify-self: flex-end;
    align-self: center;
  }

  &__buttons {
    display: flex;
    @include mobile {
      align-items: center;
      flex-direction: column;
    }
    a:nth-child(1) {
      margin-right: 1rem;
      @include mobile {
        margin-right: 0;
      }
    }
    a {
      @include mobile {
        margin: 1rem 0;
      }
    }
  }

  &__img {
    fill: $secondary-color-light;
    @include mobile {
      justify-self: center;
      grid-row: 2;
    }
  }
}
