/* Section home */
.home {
  h1 {
    font-size: 4.8rem;
    line-height: 7.2rem;
    @include small {
      font-size: 3.2rem;
      line-height: 4.8rem;
    }
  }

  p {
    padding-right: 7.6rem;
  }

  &__img {
    width: 50vw;
    max-width: 47rem;
    min-width: 30rem;
    align-self: center;
    justify-self: center;
    @include mobile {
      grid-row: 1;
    }
  }
}
